<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue2.x</title>
</head>
<body>
    <div id="app">

        <h1>{{ age }}</h1>
        <h1>{{ msg }}</h1>
        <input type="text" v-model="age">
        <input type="text" v-model="msg">
        <button v-on:click="increase">+</button>

    </div>

    <script type="module">
        import { Vue } from './vue2.js'
        let vm = new Vue({
            el: document.getElementById('app'),
            data: {
                age: 28,
                arr: [1, 2],
                msg: 'hello hafan'        
            },
            methods: {
                increase() {
                    this.age ++
                }
            }
        })
    </script>
</body>
</html>